<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Ver/Editar Evaluacion</title>
</head>
<body>
    <script>
		function edit() {
            document.getElementById('fieldsetForm').disabled = false;
            document.getElementById('title').innerText="Ver/Editar Evaluacion";
            document.getElementById('editB').hidden = true;
            document.getElementById('submit').hidden = false;
		}
        function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes').style.display = 'block';
                document.getElementById('textarea').required = true;
            } else if (document.getElementById('noCheck').checked) {
                document.getElementById('ifYes').style.display = 'none';
                document.getElementById('textarea').value = '';
                document.getElementById('textarea').required = false;
            }
        }
        function yesnoCheck2() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes2').style.display = 'block';
                document.getElementById('textarea').required = true;
            } else if (document.getElementById('noCheck').checked) {
                document.getElementById('ifYes2').style.display = 'none';
                document.getElementById('textarea').value = '';
                document.getElementById('textarea').required = false;
            }
        }
        function yesnoCheck3() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes3').style.display = 'block';
                document.getElementById('textarea').required = true;
            } else if (document.getElementById('noCheck').checked) {
                document.getElementById('ifYes3').style.display = 'none';
                document.getElementById('textarea').value = '';
                document.getElementById('textarea').required = false;
            }
        }
        function yesnoCheck4() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes4').style.display = 'block';
                document.getElementById('textarea').required = true;
            } else if (document.getElementById('noCheck').checked) {
                document.getElementById('ifYes4').style.display = 'none';
                document.getElementById('textarea').value = '';
                document.getElementById('textarea').required = false;
            }
        }
	</script>

    <h1>Ver/Editar Evaluacion</h1>
    <form action="Agregar" method="post" id ="evaluacion" enctype="multipart/form-data">
        {% csrf_token %}

        <fieldset disabled id="fieldsetForm">

            <label>¿Los estudiantes realizan evaluaciones?</label><br>
            {% if evaluacion.Hay_evaluacion_estudiantes %}
                <input type="radio" name="{{form.Hay_evaluacion_estudiantes.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Hay_evaluacion_estudiantes.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Hay_evaluacion_estudiantes.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Hay_evaluacion_estudiantes.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}

            <label>Describa la manera de como se divulgan los resultados de las evaluaciones y las acciones que se toman para mejorarlas:</label><br>
            <textarea name="Descripcion_evaluacion_estudiantes" form="evaluacion">{{evaluacion.Descripcion_evaluacion_estudiantes}}</textarea><br>

            <label>¿Existen mecanismos de evaluación del desempeño docente y de investigación del profesorado?</label><br>
            {% if evaluacion.Hay_mecanismos_evaluacion %}
                <input type="radio" name="{{form.Hay_mecanismos_evaluacion.name}}" value="true" required="true" checked="true"> Si
                <input type="radio" name="{{form.Hay_mecanismos_evaluacion.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Hay_mecanismos_evaluacion.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Hay_mecanismos_evaluacion.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}

            <label>¿Está reglamentado?<label> <br>
            {% if evaluacion.Esta_reglamentado_mecanismos %}
                <input type="radio" name="{{form.Esta_reglamentado_mecanismos.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Esta_reglamentado_mecanismos.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Esta_reglamentado_mecanismos.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Esta_reglamentado_mecanismos.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}

             <label>Haga un breve resumen del proceso indicando quienes participan en él, así como las responsabilidades que tienen.</label><br>
             <textarea name="Descripcion_mecanismos" form="evaluacion">{{evaluacion.Descripcion_mecanismos}}</textarea><br>

             <label>¿El grupo colegiado realiza evaluacion del profesorado?.</label><br>
             {% if evaluacion.Grupo_colegiado %}
                <input type="radio" name="{{form.Grupo_colegiado.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Grupo_colegiado.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Grupo_colegiado.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Grupo_colegiado.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}
             <label>Señale de forma abreviada, la forma y periodicidad en que se realizan.</label><br>
             <textarea name="Descripcion_gruposColegiados" form="evaluacion">{{evaluacion.Descripcion_gruposColegiados}}</textarea><br>

            {% if evaluacion.Evidencia_grupoColegiados.name %}
                    <output id="fileOut">Evidencia Archivada: {{evaluacion.Evidencia_grupoColegiados}}</output>
                {% else %}
                    <output id="fileOut">Evidencia Archivada: Ninguna.</output>
             {% endif %}

             <div id="ifYes" >
                 <label>Anexar información relativa al proceso</label><br>
                 <input type="file" name="Evidencia_grupoColegiados" accept="image/*,.pdf " id="file">
             </div>

             <label>¿Los estudiantes realizan evaluacion del profesorado?.</label><br>
             {% if evaluacion.Estudiantes %}
                <input type="radio" name="{{form.Estudiantes.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Estudiantes.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Estudiantes.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Estudiantes.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}

             <label>Señale de forma abreviada, la forma y periodicidad en que se realizan.</label><br>
             <textarea name="Descripcion_estudiantes" form="evaluacion">{{evaluacion.Descripcion_estudiantes}}</textarea><br>

            {% if evaluacion.Evidencia_estudiante.name %}
                    <output id="fileOut">Evidencia Archivada: {{evaluacion.Evidencia_estudiante}}</output>
                {% else %}
                    <output id="fileOut">Evidencia Archivada: Ninguna.</output>
             {% endif %}

             <div id="ifYes2" >
                 <label>Anexar información relativa al proceso</label><br>
                 <input type="file" name="Evidencia_estudiante" accept="image/*,.pdf " id="file">
             </div>

             <label>¿Hay otras instancias que realicen evaluacion del profesorado?.</label><br>
             {% if evaluacion.Otras_instancias %}
                <input type="radio" name="{{form.Otras_instancias.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Otras_instancias.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Otras_instancias.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Otras_instancias.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}
             <label>Señale de forma abreviada, la forma y periodicidad en que se realizan.</label><br>
             <textarea name="Descripcion_instancias" form="evaluacion">{{evaluacion.Descripcion_instancias}}</textarea><br>

            {% if evaluacion.Evidencia_instancias.name %}
                    <output id="fileOut">Evidencia Archivada: {{evaluacion.Evidencia_instancias}}</output>
                {% else %}
                    <output id="fileOut">Evidencia Archivada: Ninguna.</output>
             {% endif %}

             <div id="ifYes3" >
                 <label>Anexar información relativa al proceso</label><br>
                 <input type="file" name="Evidencia_instancias" accept="image/*,.pdf " id="file">
             </div>
             <label>¿Se lleva a cabo difusión de los resultados del proceso?</label><br>
             {% if evaluacion.Hay_difusion %}
                <input type="radio" name="{{form.Hay_difusion.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Hay_difusion.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Hay_difusion.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Hay_difusion.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}

             <label>Describa el tipo de difusión que se le da.</label><br>
             <textarea name="Tipo_difusion" form="evaluacion">{{evaluacion.Tipo_difusion}}</textarea><br>

            {% if evaluacion.Resultados_periodos.name %}
                    <output id="fileOut">Evidencia Archivada: {{evaluacion.Resultados_periodos}}</output>
                {% else %}
                    <output id="fileOut">Evidencia Archivada: Ninguna.</output>
             {% endif %}

             <div id="ifYes4" >
                 <label>Proporcione los resultados de los últimos tres períodos escolares </label><br>
                 <input type="file" name="Resultados_periodos" accept="image/*,.pdf " id="file">
             </div>

             <label>Indique para qué se utiliza la información de la evaluación, si se entregan resultados a los profesores, y qué acciones se toman como consecuencia de los resultados de las evaluaciones.</label><br>
             <textarea name="Descripcion_entrega" form="evaluacion">{{evaluacion.Descripcion_entrega}}</textarea><br>

                 <label>¿Están especificados los criterios académicos que valoran la productividad y la eficiencia del desempeño académico de los profesores?</label><br>
            {% if evaluacion.Hay_criterios %}
                <input type="radio" name="{{form.Hay_criterios.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Hay_criterios.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Hay_criterios.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Hay_criterios.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}

             <label>Resuma los criterios principales</label><br>
             <textarea name="Criterios_principales" form="evaluacion">{{evaluacion.Criterios_principales}}</textarea><br>

              <label>¿Existe un programa de estímulos o incentivos para los profesores que cubren dichos criterios?</label><br>
             {% if evaluacion.Hay_programa_estimulos %}
                <input type="radio" name="{{form.Hay_programa_estimulos.name}}" value="true" required="true" checked="true"> Si<br>
                <input type="radio" name="{{form.Hay_programa_estimulos.name}}" value="false" required="true"> No<br>
            {% else %}
                <input type="radio" name="{{form.Hay_programa_estimulos.name}}" value="true"  required="true"> Si<br>
                <input type="radio" name="{{form.Hay_programa_estimulos.name}}" value="false" required="true" checked="true"> No<br>
            {% endif %}

        </fieldset>
        <button type="submit" onclick="mensaje(); " name="Enviar" id="submit" hidden>Enviar</button>
    </form>
   <button type="button" onclick="edit(); " name="Editar" id="editB">Editar</button>
</body>
</html>