{% extends 'home/logged_in_base.html' %}

{% block title %}
    InDoCC - Registro
{% endblock %}

{% block content %}
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'gestion_docentes:registro' %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="username">Nombre de usuario: </label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label for="first_name">Nombres: </label>
            <input type="text" name="first_name" required>
        </div>
        <div>
            <label for="last_name">Apellidos: </label>
            <input type="text" name="last_name" required>
        </div>
        <div>
            <label for="password">Contraseña: </label>
            <input type="password" name="password" required>
        </div>
        <input type="submit">
    </form>

{% endblock %}