<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salarios</title>
</head>
<body>
    <script type="text/javascript">

    </script>
    <h1>SALARIOS</h1>
    <form action="/salarios/Agregar" method="post" id ="Salarios" enctype="multipart/form-data">

        <fieldset>
            {% csrf_token %}

            <div  id="ifYes">
                 <label>Adjunte el contrato colectivo</label> <br>
                 <input type="file" name="Contrato_colectivo" required="true" accept="image/*,.pdf " id="file">
            </div>
        </fieldset>
        <button type="submit" name="Enviar">Enviar</button>
    </form>

</body>
</html>
