<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Datos de promoción</h1>

    <p>Existe un proceso de promoción: {{ promocion.Hay_proceso_promocion }}</p>
    <p>Existe reglamento para el proceso: {{ promocion.Hay_reglamento_proceso }}</p>
    <p>Descripción del proceso: {{  promocion.Descripcion}}</p>
    <p>Existe difusión del proceso? {{  promocion.Hay_difusion_proceso}}</p>
    <p>Descripción de la difusión: {{ promocion.DescripcionDifusion }}</p>

    <button><a href="{%url 'gestion_promocion:promocionForm' %}" > Editar</a></button>


</body>
</html>