<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promocion</title>
</head>
<body>
    <script type="text/javascript">
        function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes').style.visibility = 'visible';
            } else {
                document.getElementById('ifYes').style.visibility = 'hidden';
            }
        }

        function yesnoCheck2() {
            if (document.getElementById('yesCheck2').checked) {
                document.getElementById('ifYes2').style.visibility = 'visible';
            } else {
                document.getElementById('ifYes2').style.visibility = 'hidden';
            }
        }
        function yesnoCheck3() {
            if (document.getElementById('yesCheck3').checked) {
                document.getElementById('ifYes3').style.visibility = 'visible';
            } else {
                document.getElementById('ifYes3').style.visibility = 'hidden';
            }
        }
        function IsEmpty(){

                if(document.form.question.value == "")
                {
                    alert("empty");
                }
                return;
            }

    </script>
    <h1>PROMOCION</h1>
    <form action="{% url 'gestion_promocion:promocionForm' %}" method="POST">
        {% csrf_token %}
        ¿Existe un proceso formal para la promoción del personal academico?
        <input type="radio" onclick="javascript:yesnoCheck();" value="true" name="SiNo"  id="yesCheck"/>Si
        <input type="radio" onclick="javascript:yesnoCheck();" value="false" name="SiNo" checked="checked" id="noCheck"/>No
        <div id="ifYes" style="visibility:hidden">
            ¿Hay un reglamento para dicho proceso?
            <input type="radio" onclick="javascript:yesnoCheck2();" value="true"  name="SiNo2" id="yesCheck2"/>Si
            <input type="radio" onclick="javascript:yesnoCheck2();" value="false" name="SiNo2" checked="checked" id="noCheck2"/>No
            <div id="ifYes2" style="visibility:hidden">
                Breve resumen del proceso indicando quienes participan en él, así como las responsabilidades que tienen. <br>
                <input type="text" name="texto" onclick="IsEmpty();" value="" id = "descripcion"></input> <br>

                 ¿Se lleva a cabo difusión de los resultados del proceso?
                 <input type="radio" onclick="javascript:yesnoCheck3();" value="true"name="SiNo3" id="yesCheck3"/>Si
                 <input type="radio" onclick="javascript:yesnoCheck3();" value="false"name="SiNo3 checked="checked" id="noCheck3"/>No
                 <div id="ifYes3" style="visibility:hidden">
                     Breve resumen del proceso indicando quienes participan en él, así como las responsabilidades que tienen. <br>
                    <input type="text" name="texto2" onclick="IsEmpty();" value="" id ="descripcion"></input> <br>
                 </div>
            </div>
        </div>
        <input type="submit" value="Submit"</>
    </form>

</body>
</html>

